@model CategoryDetailsVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <div class="btn-group"  role="group">
        <a asp-controller="Category" asp-action="CategoryList" class="d-none d-sm-inline-flex btn btn-sm btn-primary shadow-sm me-2">
              Back to List
        </a>

        <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" class="d-none d-sm-inline-flex btn btn-sm btn-warning shadow-sm me-2">
             Edit
        </a>

        <form method="post" enctype="multipart/form-data" asp-route-id="@Model.Id" asp-action="DeleteCategory" asp-controller="Category">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger"> Delete</button>
        </form>
    </div>
</div>